name: CI

on:
  pull_request:
    branches: [ "main" ]

jobs:
  build_test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
         ref: ${{ github.event.pull_request.head.sha }}
         fetch-depth: 1


      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "8.0.x"

      - name: Restore
        run: dotnet restore

      - name: Build
        run: dotnet build --no-restore -c Release

      - name: Test (TRX)
        run: dotnet test --no-build -c Release --logger "trx" --results-directory "TestResults"

      - name: Upload test results (artifact)
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: test-results
          path: TestResults

      - name: Publish test results to Checks
        uses: EnricoMi/publish-unit-test-result-action@v2
        if: always()
        with:
          files: "TestResults/**/*.trx"
